* {
    background-color: #323F4B;
}

body {
    color: whitesmoke;
    font-weight: 650;
    margin : 0;
}

.navbar {
    height : 100px;
    background-color: #52606D;
    color : whitesmoke;
    margin-bottom : 15px;
    text-align : center;
    font-size : 30px;
    display : flex;
    justify-content : center;
    align-items : center;
}

input.radioButton {
    margin-right: 5px;
}

img.optionImg {
    width: 96px;
    height: 54px;
}

.center-text {
    text-align:center;
  }

ul {
    list-style-position: inside;
}

input.cb-margin {
    margin-right: 5px;
}